@import "tailwindcss";

@theme {
  --font-inter: Inter, sans-serif;
  --font-headland: "Headland One", serif;

  --color-brandBg: #FAF5EB;
  --color-textDark: #111111;
  --color-cardBg: #F7EFDD;
  --color-brandBlue: #163563;
  --color-brandBlueHover: #003d8c;
}
